h1 {
    font-family: 'Italiana', serif;
    font-weight: 500;
    font-size: 70px;
    color: rgb(45, 14, 51);
    background-color: rgb(237, 236, 238);
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(237, 234, 240);
    }
 a {text-decoration: none;
 }
h2 {
    color: rgb(45, 14, 51);

    
}

strong {
    font-style: italic;
    
color:rgb(88, 21, 88)

}
ul{
   list-style-type: none;
 
}
.quemsou {
    font-size: 22px;
    color: rgb(44, 40, 44);
    font-family: 'Poiret One', cursive;
}
.oquefaco {
    font-size: 21px;
    color: rgb(44, 40, 44);
    font-family: 'Poiret One', cursive;
    

}
.formacao {
    font-size: 20px;
    color: rgb(44, 40, 44);
    font-family: 'Poiret One', cursive;
    

}
.oquefiz { 
    font-size: 19px;
    font-family: 'Poiret One', cursive;
    

}
.minhadirecao {
    font-size: 18px;
    
    font-family: 'Poiret One', cursive;
}
    
#emconstrucao{
    color: rgb(110, 121, 88);
    font-family:'Poiret One', cursive;

}

 .retorno-inicio {
    
    font-family:'Poiret One', cursive;
     font-size: 14px;
     letter-spacing: 2px;
}


 #text-tec-art-educ {
     font-size:20px;
     color: rgb(58, 54, 58);
 }
 img {
     border-radius: 50%;
 }