h1 {
    font-family: 'Italiana', serif;
    font-weight: 500;
    font-size: 70px;
    color: rgb(45, 14, 51);
    background-color: rgb(237, 236, 238);
}
body{
    font-family: 'Arima Madurai', cursive;font
    font-weight: 500;
    background-color: rgb(237, 234, 240);
    }
h2 {font-family: 'Italiana', serif;
}
a {
   
}
strong {
    font-style: italic;

}